body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(253, 236, 244);
    background-image: url(fondo.jpg)
}
header, nav{
    text-align: center;
}
nav, p{
    font-size: 20px;
}
fieldset{
    background-color:rgba(253, 236, 244, 0.5);
}

}
h1 {
    color: rgb(211, 9, 76);
    font-size: 4em;
}

titulo-de-formulario, titulo-del-segundo-formulario, titulo-del-tercer-formulario {
    color:rgb(211, 9, 76);
    font-size: 30px;  
}
label{
    font-size: 18px;
}

input{
    border: none;
    outline: none;
}

input::placeholder {
    color: rgb(211, 9, 76);
}
a {
    color:lightcoral;
}
a:hover{
    color:rgb(211, 9, 76) ;
}

select{
    border:none;
    color:rgb(211, 9, 76);
}
